.App {
  position: relative;
}

.Full-screen-container, .Menu-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.Full-screen-container {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3884ff+0,943bed+100 */
  background: #3884ff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #3884ff 0%, #943bed 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #3884ff 0%,#943bed 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #3884ff 0%,#943bed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3884ff', endColorstr='#943bed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  z-index: -10000;
}

/* Menu styling */
.Menu-container {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(49,57,60,0.3007003484987745) 75%, rgba(49,57,60,0.49887133182844245) 100%);   padding: 15px 0 20px 0;

  z-index: -1000;
}

.Menu-item,
.Menu-item:link,
.Menu-item:visited,
.Menu-item:hover,
.Menu-item:active {
  margin: 0 30px;
  color: whitesmoke;
  text-decoration: none;
}

/* Modal styling */
.Modal-inner-container {
  padding: 20px;
}

.Modal-exit-button {
  margin: 20px 0 0 20px;
  width: 40px;
  cursor: pointer;
}

.ReactModal__Content > div {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Content--after-open > div {
  opacity: 1;
}

.ReactModal__Content--before-close > div {
  opacity: 0;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}