.NewProjectForm {
    display: grid;
    row-gap: 20px;
}

.NewProjectForm-first-line {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;
    align-items: center;
}

.NewProjectForm-hash-inputs-line {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    gap: 20px;
    align-items: center;
}

#NewProjectForm-automatic-hash-row { height: 100%; }

.NewProjectForm-or-middle-text {
    text-align: center;
}

.NewProjectForm-switch-container {
    text-align: center;
}

@media (max-width: 720px) {
    .NewProjectForm,
    .NewProjectForm-hash-inputs-line,
    .NewProjectForm-first-line {
        grid-template-columns: 1fr;
    }
    .NewProjectForm-or-middle-text {
        text-align: left;
    }
}